* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --forest-green: #2d5016;
    --sage-green: #87a96b;
    --earth-brown: #8b4513;
    --sky-blue: #87ceeb;
}


/* Loading Screen */
.loading-screen {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(160deg, var(--forest-green), var(--sage-green));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-out 1s ease-out 3s forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.kui-greating {
    font-size: 4rem;
    color: hsl(0 0 5%);
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    animation: slide-down 2s ease-out;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.welcome {
    font-size: 3rem;
    color: hsl(0 0 20%);
    font-style: italic;
    animation: fade-in 1.5s ease-in;
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Navbar styling */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0 0 100%);
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.material-symbols-outlined {
    color: hsl(120 50 50%);
    font-size: 24px;
}

.main-logo {
    font-size: 2rem;
    color: hsl(0 0 95%);
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
}

.main-para {
    display: flex;
    gap: 1px;
}

.logo p {
    color: hsl(110 90 50%);
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
}

#nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    font-size: clamp(1rem, 10vw, 1.5rem);
    color: hsl(0 0 95%);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

a:hover {
    color: hsl(130 50 50%);
}

/* Hamburger  */
#hamburger {
    background-color: #2d5016;
    padding: 10px 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
    border: none;
    border-radius: 12px;
}

/* media query  */
@media (max-width:768px) {
    #hamburger {
        display: block;
    }

    #nav-menu {
        top: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        flex-direction: column;
        /* background-color: hsl(0 0 85%); */
        display: none;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
    }

    #nav-menu.active {
        display: flex;
    }

    #nav-menu li {
        width: 100%;
    }

    #nav-menu a {
        text-align: center;
        display: block;
        /* border-bottom: 1px solid hsl(0 0 60%); */
    }

    .main-body {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main-body h1 {
        letter-spacing: 0px;
    }

    .main-body h3 {
        letter-spacing: 2px;
    }

}

/* Main body */
#main-body {
    background-image: url(./images/ghati.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-body h1 {
    font-size: clamp(3rem, 10vw, 8rem);
    font-family: "Poppins", sans-serif;
    letter-spacing: 10px;
    color: hsl(0 0 85%);
    padding-bottom: 12px;
    text-align: center;
}

#main-body h3 {
    font-size: clamp(2rem, 10vw - 2em, 3rem);
    color: hsl(0 0 65%);
    font-family: "Poppins", sans-serif;
    letter-spacing: 8px;
    text-align: center;
}

/* About section */

#about-section {
    max-width: 1320px;
    padding: 28px;
    margin: auto;
}

.about-title {
    font-size: 48px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#about-section .about-para {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: hsl(0 0 40%);
}

.daringbadi {
    color: hsl(130 50 50%);
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left,
.right {
    flex: 1 1 300px;
    text-align: center;
}

.left img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}

.right {
    text-align: left;
}

.right p {
    font-size: 28px;
    text-align: justify;
    line-height: 1.25;
    font-family: "Poppins", sans-serif;
}

.about-btn {
    text-align: center;
    margin-top: 8px;
    padding: 12px;
    background: linear-gradient(40deg, var(--forest-green), var(--sage-green));
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-out;
    animation: jump 0.5s ease infinite;
    animation-direction: alternate;
    z-index: -1;
    margin-left: 30%;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(-4px);
    }

    75% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(-8px);
    }
}

.about-btn:hover {
    background-color: #3a6914;
}

.about-btn a {
    color: hsl(0 0 100%);
    text-transform: none;
    font-family: "Poppins", sans-serif;
}

@media (max-width:768px) {
    .about-title {
        font-size: 28px;
    }

    .daringbadi {
        font-size: 28px;
        padding-left: 8px;
        letter-spacing: 2px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    #about-section .about-para {
        font-size: 16px;
    }

    .right p {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 16px;
    }

    .left img {
        max-width: 300px;
    }

    .about-btn {
        margin-left: 25%;
    }
}

/* Animation */

.autoshow {
    animation: text-appers 1s ease-in;
    animation-timeline: view();
}

@keyframes text-appers {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Card  */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 200px;
    margin-top: 24px;
    max-width: 220px;
    background-color: hsl(0 0 40%);
    border-radius: 24px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: o 6px 12px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 1.1rem;
    color: hsl(0 0 100%);
    font-weight: bold;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

.value {
    font-size: 0.95rem;
    color: hsl(0 0 90%)
}

.line {
    width: 150px;
    height: 5px;
    background: linear-gradient(var(--sage-green), var(--forest-green));
    margin: 1rem auto;
    border-radius: 4px;
}

@media (max-width:768px) {
    .line {
        display: none;
    }
}

/* Culture section */

.culture-section {
    max-width: 1320px;
    padding: 28px;
    margin: auto;
}

.culture-section h1{
    font-size: 48px;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

.culture-section p{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: hsl(0 0 40%);
}

.culture-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.culture-card {
    flex: 1 1 calc(50% - 2rem);
    margin-top: 24px;
    max-width: 500px;
    background-color: hsl(0 0 95%);
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.2s ease;
}

.culture-card:hover {
    transform: translateY(-10px);
    box-shadow: o 6px 12px rgba(0, 0, 0, 0.3);
}

.culture-icons{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.culture-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.culture-title {
    margin: 16px;
    font-size: 1.1rem;
    color: var(--forest-green);
    font-weight: bold;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

.culture-value {
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    text-align: left;
    font-size: 0.95rem;
    color: var(--forest-green);
}
.culture-logo{
    color: hsl(130 50 50%);
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
}
@media (max-width:768px) {
    .culture-card{
        flex: 1 1 100%;
    }
    .culture-section h1{
        font-size: 28px;
    }
    .culture-section p{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .culture-icons{
        height: 200px;
    }
    .culture-title{
        margin: 8px;
    }
}